rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /birthdays/{birthdayId} {
      // Anyone can read the list of birthdays.
      allow read: if true;

      // Only authenticated users can create a new birthday.
      // We also validate the data being written.
      allow create: if request.auth != null
                    && request.resource.data.name is string
                    && request.resource.data.name.size() > 0
                    && request.resource.data.name.size() <= 32
                    && request.resource.data.date is string
                    && request.resource.data.date.matches('^\\d{4}-\\d{2}-\\d{2}$')
                    && request.resource.data.isForFriend is bool
                    && request.resource.data.createdBy == request.auth.uid
                    && (!('note' in request.resource.data) || (request.resource.data.note is string && request.resource.data.note.size() <= 120));
      
      // Nobody can update or delete for this simple app.
      allow update, delete: if false;
    }
  }
}